body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}



#map {
  height: 80vh;
  width: 100%;
  border-radius: 1em;
  margin-top: 1em;
}

#time-slider {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}
